/* Font */
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500&family=Montserrat:wght@600&display=swap');

/* Header styles */
header a {
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.75s;
}

header button.navbar-toggler:focus{
    outline: none;
}

#nav-toggle{
    font-size: 30px;
    color: #00AEE0;
}

header ul {
    list-style-type: none !important;
}

header a.active {
    color: #00AEE0;
}

header a:hover {
    color: #00AEE0;
}

header img {
    width: 50%;
}

/* Footer styles */
footer {
    background-color: #6e7da2;
    font-family: K2D, sans-serif;
    font-size: 15px;
    color: #fcf8f3;
}

footer h5 {
    font-weight: 500;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #fcf8f3;
}

footer a:hover {
    text-decoration: none;
}

#facebook {
    width: 4%;
}

#ins {
    width: 7%;
}

/* Main */
.about_header_bg {
    position: relative;
}

.about_header {
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 80px 0;
    width: 100%;
}

.about_header_img img {
  width: 100%;
  height: 400px;
  background-image: url("../../pics/testimonials.jpg");
  background-size: cover;
  filter: brightness(40%);
  z-index: 0;
}

.about_header_content {
    font-size: 25px;
    line-height: 30px;
}

.about_header > p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.wwd_header {
    text-align: center;
}

.wwd_header > p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin: 20px ;
}

.align-items-right-input {
    margin-top: 5px;
    margin-bottom: 5px;
}
