/* Font */
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

/* Header styles */
header a {
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.75s;
}

header button.navbar-toggler:focus{
    outline: none;
}

#nav-toggle{
    font-size: 30px;
    color: #00AEE0;
}

header ul {
    list-style-type: none !important;
}

header a.active {
    color: #00AEE0;
}

header a:hover {
    color: #00AEE0;
}

header img {
    width: 50%;
}

/* Footer styles */
footer {
    background-color: #6e7da2;
    font-family: K2D, sans-serif;
    font-size: 15px;
    color: #fcf8f3;
}

footer h5 {
    font-weight: 500;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: #fcf8f3;
}

footer a:hover {
    text-decoration: none;
}

#facebook {
    width: 4%;
}

#ins {
    width: 7%;
}

/* Main */
.about_header_bg {
    position: relative;
}

.about_header {
    position: absolute;
    z-index: 1;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 100%;
}

.about_header_img img {
  width: 100%;
  height: 400px;
  background-image: url("../../pics/testimonials.jpg");
  background-size: cover;
  filter: brightness(40%);
  z-index: 0;
}

.about_header_content {
    font-size: 25px;
    line-height: 30px;
}

.about_header > p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

.wwd_header {
    text-align: center;
}

.wwd_header > h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    margin: 20px ;
}

.mentor_faculty_border {
    border: 1px solid #ddd;
    margin-block-end: 2rem;
    box-shadow: 2px 2px 6px rgba(0,0,0,.3);
}

.mentor_faculty_border:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,.7);
}

.mentor-content-border {
    height: 350px;
    margin: 1rem;
}

.mentor-content-tag img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-size: cover !important;
    background-position: center !important;
}

.mentor_faculty_box_name {
    color: #00aaff
}

.fa-facebook {
	 color: #3b5998;
}
.fa-twitter {
	 color: #00aced;
}
.fa-google-plus-g {
	 color: #dd4b39;
}
.fa-instagram {
	 color: #517fa4;
}
.fa-youtube {
	 color: #bb0000;
}
