<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ailen" scope="singleton" class="com.telusko.demoproj.Ailen">
		<property name="age" value="18"></property>
		<property name="com" ref="desktop"></property>
	</bean>
	
	<bean id="laptop" scope="singleton" class="com.telusko.demoproj.Laptop"></bean>
	
	<bean id="desktop" scope="singleton" class="com.telusko.demoproj.Desktop"></bean>
</beans>
